@import './styles/theme.less';

@small_screen_dimensions: 90px;
@non_small_screen_dimensions: 120px;

.header {
  text-align: center;
}

.skillContainerCollapsed {
  @media (min-width: @medium_screen_min_width) {
    animation: moveup 1s 200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
}

.skillContainer, .skillContainerFrameWork {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skillContainer {
  position: relative;
  margin: 24px 0;
}

.skillCircleContainer {
 width: 30%;
 margin: 0 1%;
}

.skillSquareContainer {
  width: 30%;

  @media(max-width: @small_screen_max_width) {
    width: 49%;
  }
}

.skillCircle, .skillSquare {
  margin: 24px auto;
  width: @non_small_screen_dimensions;
  height: @non_small_screen_dimensions;
  line-height: @non_small_screen_dimensions;
  text-align: center;
  box-shadow: 2px 2px 2px @secondaryBackgroundColor;
  text-transform: uppercase;

  @media(max-width: @small_screen_max_width) {
    width: @small_screen_dimensions;
    height: @small_screen_dimensions;
    line-height: @small_screen_dimensions;
  }
}

.skillCircle {
  border-radius: 50%;
  //border: 3px lighten(@listBackgroundColor, 1%) solid;
  background: radial-gradient(circle, @listBackgroundColor 60%, lighten(@listBackgroundColor, 5%));
  //background-color: @listBackgroundColor;
}

.skillSquare {
  border-radius: 0;
  border: 3px lighten(@dimPrimaryColor, 1%) solid;
  background-color: @dimPrimaryColor;
  color: @snackBar;
  font-weight: 600;
}

.summaryContainer, .workContainer, .educationContainer {
  width: 80%;
  margin: 0 auto;

  list-style: none;

  .workItem {
    margin-top: 24px;
    min-height: 40px;
  }
}

@media (max-width: @medium_screen_max_width) {
  .label {
    display: none;
  }

  .icon {
    display: block;
  }
}

@media (min-width: @large_screen_min_width) {
  .label {
    display: block;
  }

  .icon {
    display: none;
  }
}

@keyframes moveup {
  0% {
    position: absolute;
    top: @non_small_screen_dimensions;
    left: 0;
  }

  100% {
    position: absolute;
    top: 0;
    left: 0;
  }
}
